/*style global*/

* {
    font-family: "Inter", sans-serif;
    font-size: large;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0;
}


body{
    background-color:#EFF7D2;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*style header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    margin-top: 40px;
    margin-left: 40px;
}

nav {
   margin-left: 80px;
}

nav ul {
    width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    color :#51764B;
}

nav a:hover{
    border-bottom: 1px solid #51764B;
}

nav a.active {
    font-weight: 900;
    border-bottom: none;
}

/*style section_accueil*/

article {
    margin-right:40px;
    margin-left:40px;
    text-align: justify;
    max-width: 500px;
}

.paragraphe {
    margin-bottom: 20px;
}

.illustration_accueil img{
    border-radius: 20px;
}

.recherche{
    margin-top:20px;
    text-align: center;
}

.recherche form{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.recherche form input{
    height: 36px;
    border: none;
    border-radius: 10px;
    width: 75%;
}

.recherche form input::placeholder{
    padding-left:10px;
    font-weight: lighter;
    font-style: italic;
}

.recherche form button{
    background-color: #51764B;
    color:white;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
}

.recherche form button:hover{
    background-color: #A8B47B;
    color: black;
}

/*style footer*/



.position_email, .position_mention{
    background-color: #EFF7D2;
    width: 160px;
    height: 20px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
}

.position_email a, .position_mention a{
    font-weight:300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    color:#51764B;
}

.position_email a:hover, .position_mention a:hover{
    background-color: #F4F9E2;
    border-radius: 4px;
}


