
.menu_hamburger{
    display: none;
}

img{
    max-width: 100%;
    height: auto;
}

.presentation {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width: 1050px) {

    header .logo{
        display: block;
        margin: 0px auto;
    }

    .navbar{
        padding: 0px;
    }
    
    .menu_hamburger{
        position:absolute;
        right:10px;
        top:10px;
        display: block;

    }

    .navbar{
        top:0px;
        left:0px;
        position: absolute;
        background-color: rgba(rgba(255, 255, 255, 0.54), white, white, 0.5);
        backdrop-filter: blur(8px);    
        height: 100%;
        width: 250px;
        border-radius: 0px;
        margin-left: -200%;
        transition: all 0.5s ease;
    }

    .mobile_menu{
        margin-top:0px;
        margin-left:-20px;
    }

    .navbar ul{
        background-color: transparent;
        position: absolute;
        top:30px;
        left:15px;
        display: flex;
        flex-direction: column;
    }

    .navbar li{
        margin-top:20px;
    }


}
@media screen and (max-width: 900px) {
    
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

