/*style global*/

* {
    font-family: "Inter", sans-serif;
    font-size: large;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0;
}


body{
    background-color:#EFF7D2;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*style header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 40px;
    margin-left: 40px;
}

nav {
   position: absolute; 
   left: 280px;
}

nav ul {
    width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    color :#51764B;
}

nav a.active {
    font-weight: 900;
}

/*style section_accueil*/
section .presentation{
    flex:1;
}

article {
    margin-right:40px;
    margin-left:40px;
    text-align: justify;
    max-width: 500px;
}

.paragraphe {
    margin-bottom: 20px;
}

.illustration_accueil img{
    border-radius: 20px;
}

.recherche{
    margin-top:20px;
    text-align: center;
}

.recherche form{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.recherche form input{
    height: 36px;
    border: none;
    border-radius: 10px;
    width: 75%;
}

.recherche form input::placeholder{
    padding-left:10px;
    font-weight: lighter;
    font-style: italic;
}

.recherche form button{
    background-color: #51764B;
    color:white;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
}

.recherche form button:hover{
    background-color: #A8B47B;
    color: black;
}

/*style footer*/

footer {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background-color: #51764B;
}

.position_email{
    background-color: #A8B47B;
    color: black;
    height: 36px;
    border: none;
    border-radius: 10px;
    
}


